*,
*:before,
*:after {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: -moz-none;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: pan-y;
}
body,
html {
  -ms-overflow-style: none !important;
  width: 100%;
  height: 100%;
  font-size: 100%;
  overflow: hidden;
}
ul,
li {
  list-style: none;
}
body {
  overflow: hidden;
  -webkit-text-size-adjust: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  background: #fff;
  z-index: 1;
}
#menu {
  width: 15rem;
  height: 100%;
  color: #fff;
  padding: 1rem;
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  background: #f00;
  box-shadow: 0 0 8px 0 black;
}
.view {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.view .header {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  left: 0;
  right: 0;
  background: #123456;
  color: #fff;
}
.view .header .menu-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
}
.view .header .menu-icon span {
  position: absolute;
  margin: 25%;
}
.view .header .menu-icon span:after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
  width: 1rem;
}
.view .header .title {
  text-align: center;
  height: 3rem;
  width: 100%;
  font-size: 120%;
  display: inline-block;
}
.view .main {
  background: #ccc;
  color: #000;
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.view .footer {
  z-index: 999;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  padding: 0 1rem;
  background: #123456;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.view.menu-on {
  animation: menu-off2on 1.2s ease-out forwards;
  -webkit-animation: menu-off2on 1.2s ease-out forwards;
}
@keyframes menu-off2on {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(15rem, 15rem, 0);
  }
}
@-webkit-keyframes menu-off2on {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(15rem, 15rem, 0);
  }
}
